.button {
}

.disabled {
  background-color: blue;
  opacity: 0.6;
}

.secondary {
  background-color: blue;
}

.default {
  background-color: brown;
}

.red {
  background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
